<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Agamon</string>
    <key>CFBundleDisplayName</key>
    <string>Agamon</string>
    <key>CFBundleIdentifier</key>
    <string>com.agamon.app</string>
    <key>CFBundleVersion</key>
    <string>6</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.3</string>
    <key>CFBundleExecutable</key>
    <string>Agamon</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSSupportsAutomaticTermination</key>
    <false/>
    <key>NSSupportsSuddenTermination</key>
    <false/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Agamon</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/ekinertac/agamon/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>8ucKTJXmPly0BJ9QvgqFllmeCrve5f1vmzyppH3E8UE=</string>
</dict>
</plist>
